:root{
    --main-color:rgb(91, 91, 243);
    --second-color:#fa7878;
}

html{
    box-sizing: border-box;
    font-size: 62.5%; /*1rem 10px*/

}
*,*:before,*:after{
    box-sizing: inherit;
}

body{
    font-family: "Raleway", sans-serif;
    font-size: 1.6rem;
}
h1,h2,h3{
    font-family: "Robot", sans-serif;

}

/*GENERICOS*/
#galeria img{
    width:200px;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
}