:root{
    --main-color:rgb(91, 91, 243);
    --second-color:#fa7878;
}

html{
    box-sizing: border-box;
    font-size: 62.5%; /*1rem 10px*/

}
*,*:before,*:after{
    box-sizing: inherit;
}

body{
    font-family: "Raleway", sans-serif;
    font-size: 1.6rem;
}
h1,h2,h3{
    font-family: "Robot", sans-serif;

}



/*GLOBALES*/
a{
    text-decoration: none;
    color: #000;
    display: block;
}

header{
    font-size: 1rem;
}

header h1{
    text-align: center;
    color: #2c2b2b;
    font-size: 4rem;
    
}
header p{
    font-size: 1em;
}

h2{
    text-align: center;
    font-size: 3rem;
}

span{
    color: green;
}

/*CSS PROPIOS*/
h1 span{
    color: var(--main-color)
}

h2 span{
    color: var(--second-color);
}
.nav-main {
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
    
    padding: 15px 0px;
}

a{
    text-transform: uppercase;
}

a{
    text-transform: lowercase;
}